@page
@using Microsoft.Extensions.Localization
@using SuperAbp.RegionManagement.Localization
@using SuperAbp.RegionManagement.Web.Pages.RegionManagement
@model SuperAbp.RegionManagement.Web.Pages.RegionManagement.IndexModel
@inject IStringLocalizer<RegionManagementResource> L

@{
}
<h1>RegionManagement</h1>
<p>@L["SamplePageMessage"]</p>
